// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@import '../theme.scss';
$fg-color: #{'@text'};
$bg-color: #{'@base'};
$overlay: #{'@overlay'};
window {
	font-size: 3rem;
}
window.Bar {
	min-height: 1em;
	background: transparent;
	color: $fg-color;
	font-weight: bold;

	* {
	}

	> centerbox {
		background: $bg-color;
		border-radius: 10px;
		margin: 8px;
	}

	button {
		font-size: 0.3em;
		margin: 2px;
		min-width: 400px;

		:before {
			content: ' ';
		}
	}
}
