/*
:root {
  --base: @base;
  --surface: @surface;
  --overlay: @overlay;
  --muted: @muted;
  --subtle: #908caa;
  --text: @text;
  --love: @love;
  --gold: @gold;
  --rose: @rose;
  --pine: @pine;
  --foam: @foam;
  --iris: @iris;
  --highlightLow: @highlightLow;
  --highlightMed: @highlightMed;
  --highlightHigh: @highlightHigh;
}
*/

@import '../shared/gtk-colors.css';

* {
	all: unset;
	font-family: "JetBrains Mono Nerd Font", monospace;
	transition: 0.3s;
	font-size: 1.2rem;
}

.floating-notifications.background .notification-row {
	padding: 1rem;
}

.floating-notifications.background .notification-row .notification-background {
	border-radius: 0.5rem;
	background-color: @base;
	color: @text;
	border: 1px solid @muted;
}

.floating-notifications.background .notification-row .notification-background .notification {
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
	border: 1px solid @love;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
	margin: 0.5rem;
	color: @text;
	font-weight: bold;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
	margin: 0.5rem;
	color: #908caa;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* {
	min-height: 3rem;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action {
	border-radius: 0.5rem;
	color: @text;
	background-color: @surface;
	border: 1px solid @muted;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
	background-color: @overlay;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
	background-color: @muted;
}

.floating-notifications.background .notification-row .notification-background .close-button {
	margin: 0.5rem;
	padding: 0.25rem;
	border-radius: 0.5rem;
	color: @text;
	background-color: @love;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
	color: @base;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
	background-color: @rose;
}

.control-center {
	border-radius: 0.5rem;
	margin: 1rem;
	background-color: @base;
	color: @text;
	padding: 1rem;
	border: 1px solid @rose;
}

.control-center .widget-title {
	color: @rose;
	font-weight: bold;
}

.control-center .widget-title button {
	border-radius: 0.5rem;
	color: @text;
	background-color: @surface;
	border: 1px solid @muted;
	padding: 0.5rem;
}

.control-center .widget-title button:hover {
	background-color: @overlay;
}

.control-center .widget-title button:active {
	background-color: @muted;
}

.control-center .notification-row .notification-background {
	border-radius: 0.5rem;
	margin: 0.5rem 0;
	background-color: @surface;
	color: @text;
	border: 1px solid @muted;
}

.control-center .notification-row .notification-background .notification {
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.control-center .notification-row .notification-background .notification.critical {
	border: 1px solid @love;
}

.control-center .notification-row .notification-background .notification .notification-content {
	color: @text;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
	margin: 0.5rem;
	color: #cdd6f4;
	font-weight: bold;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
	margin: 0.5rem;
	color: #908caa;
}

.control-center .notification-row .notification-background .notification>*:last-child>* {
	min-height: 3rem;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action {
	border-radius: 0.5rem;
	color: @text;
	background-color: @surface;
	border: 1px solid @muted;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
	background-color: @overlay;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
	background-color: @muted;
}

.control-center .notification-row .notification-background .close-button {
	margin: 0.5rem;
	padding: 0.25rem;
	border-radius: 0.5rem;
	color: @text;
	background-color: @love;
}

.control-center .notification-row .notification-background .close-button:hover {
	color: @base;
}

.control-center .notification-row .notification-background .close-button:active {
	background-color: @rose;
}

progressbar,
progress,
trough {
	border-radius: 0.5rem;
}

.notification.critical progress {
	background-color: #f38ba8;
}

.notification.low progress,
.notification.normal progress {
	background-color: #89b4fa;
}


.control-center trough {
	/* background-color: @love; */
}

.control-center-dnd {
	margin: 1rem 0;
	border-radius: 0.5rem;
}

.control-center-dnd slider {
	background: @overlay;
	border-radius: 0.5rem;
}

.widget-dnd {
	color: #908caa;
}

.widget-dnd>switch {
	border-radius: 0.5rem;
	background: @overlay;
	border: 1px solid @muted;
}

.widget-dnd>switch:checked slider {
	background: @pine;
}

.widget-dnd>switch slider {
	background: @muted;
	border-radius: 0.5rem;
	margin: 0.25rem;
}
.widget-buttons-grid {
	font-size: x-large;
	padding: 5px;
	border-radius: 0.5rem;
	background: @surface;
	border: 1px solid @muted;

}

.widget-buttons-grid>flowbox {
	padding: unset;
}

.widget-buttons-grid>flowbox>flowboxchild>button:first-child {
	margin-left: unset;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
	margin: 0.25rem;
	background: @overlay;
	border-radius: 0.5rem;
	color: @text;
	border: 1px solid @muted;
	margin: unset;
	padding: unset;
		min-width: 4.2rem;
		min-height: 2rem;
}
.widget-buttons-grid>flowbox>flowboxchild:nth-child(1)>button {
	background-color: @love;
}

.widget-buttons-grid>flowbox>flowboxchild:nth-child(2)>button {
	background-color: @iris;
	color: @base;
}

.widget-buttons-grid>flowbox>flowboxchild:nth-child(3)>button {
	background-color: @rose;
	color: @base;
}

.widget-buttons-grid>flowbox>flowboxchild:nth-child(4)>button {
	background-color: @gold;
	color: @base;
}

.widget-buttons-grid>flowbox>flowboxchild:nth-child(5)>button {
	background-color: @pine;
}
.widget-buttons-grid>flowbox>flowboxchild:nth-child(6)>button {
	background-color: @foam;
	color: @base;
}
.widget-buttons-grid>flowbox>flowboxchild>button:hover {
	background: @highlightLow;
	color: @text;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked {
	background: @love;
	color: @base;
}

.widget-volume {
	margin-top: 0.5rem;
}

.widget-volume,
.widget-backlight {
	background: @surface ;
	padding: 0.5rem 1rem;
	margin-bottom: 0.5rem; 
	border-radius: 0.5rem;
	font-size: 2rem;
	border: 1px solid @muted;
}

.widget-volume label,
.widget-backlight label {
	color: @rose;
	padding-right: 1rem;
}

slider {
	background-color: red;

	background-size: 10px 100%;

	min-height: 0.7rem;
}

trough {
	background-color: @overlay;
	padding: 0.1rem;
	margin: 0.1rem;
	min-height: 0.7rem;
}

highlight {
	background-color: @iris;
	min-height: 0.5rem;
	margin: 0.2rem;
	border-radius: 0.5rem;
}

progress {
	background-color: @gold;
	min-height: 0.5rem;
}

.widget-mpris {
	color: @text;
	background: @surface;
	border-radius: 0.5rem;
	border: 1px solid @muted;
}

.widget-mpris>box>button {
	border-radius: 5px;
	padding: 0.2rem;
}
.widget-mpris-player button:hover {
	border-radius: 5px;
	background: @overlay;
	color: @rose;
}

.widget-mpris-player button:checked {
	color: @gold;
}

.widget-mpris-player {
	margin: 1rem 1rem;
}

.widget-mpris-title {
	font-weight: 700;
	font-size: 1.25rem;
}

.widget-mpris-subtitle {
	font-size: 1.1rem;
}
.widget-mpris carouselindicatordots {
	margin-top: -24px;
}